body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.education-entry h3 {
  padding: 10px 0;
  margin: 20px;
}

h1 {
  font-size: 40px;
  color: rgba(255,255,255,0.9);
  line-height: 48px;
  font-size: 3.3em;
}

.subtitle {
  color: #01c3b5;
}

#topContacts {
  margin-bottom: 40px;
}

#workExperience,
#projects, 
#education {
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #e0e0e0;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;

}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

#header {
  text-align: center;
}

#header a {
  display: inline;
  font-weight: bold;
  color: #01c3b5;
}

#header a:hover {
  color: #b9a9a9;
}

#footerContacts a {
  display: inline;
  font-weight: bold;
  color: #01c3b5;
}

#footerContacts a:hover {
  color: #b9a9a9;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #01c3b5;
}

.blue {
  background-color: #01c3b5;
}

.white-text {
  color: white;
}

.blue-text {
  font-weight: bold;
  color: #01c3b5;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  /*float: left;*/
  padding: 10px;
  width: 200px;
  display: none;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.project-img {
  max-width: 100%;
}


img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

.circle {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.skill-text {
  margin-right: 5px;
}

/*javascript*/
#skills li:nth-child(1) span:nth-child(6),#skills li:nth-child(1) span:nth-child(5),#skills li:nth-child(1) span:nth-child(4),#skills li:nth-child(1) span:nth-child(3), #skills li:nth-child(1) span:nth-child(2){
background-color: #01c3b5;
}
/*jquery*/
#skills li:nth-child(2) span:nth-child(5),#skills li:nth-child(2) span:nth-child(4),#skills li:nth-child(2) span:nth-child(3),#skills li:nth-child(2) span:nth-child(2){
background-color: #01c3b5;
}

/*html*/
#skills li:nth-child(3) span:nth-child(6),#skills li:nth-child(3) span:nth-child(5),#skills li:nth-child(3) span:nth-child(4),#skills li:nth-child(3) span:nth-child(3), #skills li:nth-child(3) span:nth-child(2){
background-color: #01c3b5;
}

/*css*/
#skills li:nth-child(4) span:nth-child(5),#skills li:nth-child(4) span:nth-child(4),#skills li:nth-child(4) span:nth-child(3),#skills li:nth-child(4) span:nth-child(2){
background-color: #01c3b5;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
   .circle {
    display: none;
  }
  .flex-column {
    display: block;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
   .circle {
    display: none;
  }
  .flex-column {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  #skill-h3 {
    display: block;
  }
  .circle {
    display: none;
  }
  .flex-column {
    display: block;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
